{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
    <h1 style="text-align: center">Oeuvres disponibles</h1>

    {% block search %}
        {% if formulaire is defined %}
            <div>
                {{ form_start(formulaire, { 'attr': {'class': 'navbar-form navbar-left'} }) }}
                <div>
                    <div>
                        {{ form_widget(formulaire.search, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div>
                        {{ form_widget(formulaire.send, { 'attr': {'class': 'btn btn-default'} } ) }}
                    </div>
                </div>
                {{ form_rest(formulaire) }}
                {{ form_end(formulaire) }}
            </div>
        {% endif %}
    {% endblock search %}

    <table class="table">
        {% set cpt = 0 %}
        <tbody>
        <tr>
            {% for album in albums%}

            <td style="text-align: center">
                <div>{{ album.titreAlbum }}</div>

                <div><a href="{{ path('album_show', {'codeAlbum': album.codeAlbum}) }}">
                        <img src="data:image/png;base64,{{ album.getBase64Pochette}}" height="200" width="250" alt=''>
                    </a></div>
            </td>

            {% set cpt = cpt+1%}

            {%if cpt%5==0%}

        </tr><tr>

            {% endif %}

            {% else %}
        {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}
