{% extends 'base.html.twig' %}

{% block title %}Compositeurs{% endblock %}

{% block body %}
    <br>
    <h1 style="text-align: center">Compositeurs</h1>

    {% block search %}
        {% if formulaire is defined %}
            <div>
                {{ form_start(formulaire, { 'attr': {'class': 'navbar-form navbar-right'} }) }}
                <div >
                    <div >
                        {{ form_widget(formulaire.search, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div >
                        {{ form_widget(formulaire.send, { 'attr': {'class': 'btn btn-default'} } ) }}
                    </div>
                </div>
                {{ form_rest(formulaire) }}
                {{ form_end(formulaire) }}
            </div>
        {% endif %}
    {% endblock search %}

    <table class="table">
        {% set cpt = 0 %}
        <tbody>
        <tr>
        {% for musicien in musiciens %}

            <td style="text-align: center">

            <div>{{ musicien.prenomMusicien }} {{ musicien.nomMusicien }} </div>

             <img src="data:image/png;base64,{{ musicien.base64Photo }}" height="200" width="250" alt=''>
                <br>
                <div>
                <a href="{{ path('musicien_show', {'codeMusicien': musicien.codeMusicien}) }}">Détails</a>
                </div>
            </td>

        {% set cpt = cpt+1%}

            {%if cpt%5==0%}

            </tr><tr>

            {% endif %}

        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tr>
        </tbody>
    </table>

    <a href="{{ path('musicien_index') }}">Revenir à la liste</a>
{% endblock %}
