{% extends 'base.html.twig' %}

{% block title %}Musicien{% endblock %}

{% block body %}
    <br>
    <h1> {{ musicien.nomMusicien }} </h1>

    <img src="data:image/png;base64,{{ musicien.base64Photo }}" alt=''>

    <br>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ musicien.nomMusicien }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ musicien.prenomMusicien }}</td>
        </tr>
        <tr>
            <th>Date de naissance</th>
            <td>{{ musicien.anneeNaissance }}</td>
        </tr>
        <tr>
            <th>Date de mort</th>
            <td>{{ musicien.anneeMort }}</td>
        </tr>
        <tr>
            <th>Liste de ses oeuvres et albums</th>
        <tbody>
        <tr>
            <td>
        {% for oeuvre in oeuvres %}

            {{ oeuvre.titreOeuvre }}

        {% endfor %}
            </td>
            <td>
                {% for album in albums %}
                <a href="{{ path('album_show', {'codeAlbum': album.codeAlbum}) }}">
                    <img src="data:image/png;base64,{{ album.getBase64Pochette}}" height="200" width="250" alt=''>
                </a>
                {% endfor %}
            </td>
        </tr>
        </tbody>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('musicien_index') }}">Revenir à la liste</a>

{% endblock %}
