{% extends 'base.html.twig' %}

{% block title %}Musicien{% endblock %}

{% block body %}
    <br>
    <h1> {{ musicien.nomMusicien }} </h1>
    
    <img src="data:image/png;base64,{{ musicien.base64Photo }}" alt=''>

    <br>

    <table class="table">
        <tbody>
        <tr>
                <th>ListeOeuvre</th>
                <tbody>
                    {% for composer in oeuvres %}
                    <tr>
                        <td>{{ composer.codeOeuvre.titreOeuvre }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </tr>
            <tr>
                <th>CodeMusicien</th>
                <td>{{ musicien.codeMusicien }}</td>
            </tr>
            <tr>
                <th>NomMusicien</th>
                <td>{{ musicien.nomMusicien }}</td>
            </tr>
            <tr>
                <th>PrenomMusicien</th>
                <td>{{ musicien.prenomMusicien }}</td>
            </tr>
            <tr>
                <th>AnneeNaissance</th>
                <td>{{ musicien.anneeNaissance }}</td>
            </tr>
            <tr>
                <th>AnneeMort</th>
                <td>{{ musicien.anneeMort }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('musicien_index') }}">back to list</a>

{% endblock %}
