{% extends 'base.html.twig' %}

{% block title %}Musicien{% endblock %}

{% block body %}
    <br>
    <h1> {{ musicien.nomMusicien }} </h1>
    
    <img src="data:image/png;base64,{{ musicien.base64Photo }}" alt=''>

    <br>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ musicien.nomMusicien }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ musicien.prenomMusicien }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ musicien.anneeNaissance }}</td>
            </tr>
            <tr>
                <th>Date de mort</th>
                <td>{{ musicien.anneeMort }}</td>
            </tr>
            <tr>
                <th>Liste de ses oeuvres</th>
        <tbody>
        {% for oeuvre in oeuvres %}
            <tr>
                <td>{{ oeuvre.titreOeuvre }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('musicien_index') }}">back to list</a>

{% endblock %}
